@import 'tailwindcss';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@media print {
	/* fix tailwindcss print: variant not working in dev mode on Safari problem */
	.print\:hidden {
		display: none;
	}

	/* Definitively hide Svelte Inspector in all print outputs */
	svelte-inspector-host {
		display: none !important;
	}
}

.radio-bg {
	@apply flex flex-row justify-start items-center bg-linear-[270deg,#444,#222] shadow-[0px_0px_3px_1px_rgba(0,0,0,1),inset_0_8px_3px_-8px_rgba(255,255,255,1)] mx-1 my-1 p-0.5 rounded-full;
}

.radio-label {
	@apply hover:bg-blue-400 has-checked:bg-linear-to-b has-checked:from-slate-700 has-checked:to-slate-500 has-checked:shadow-blue-800 has-checked:shadow-xs hover:shadow-green-300 px-2 py-0 rounded-full text-gray-500 has-checked:text-white hover:text-slate-100 transition has-checked:animate-pulse duration-500 ease-in cursor-pointer has-checked:cursor-default;
}

/* Hide number input spinners across all browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}

@utility student-row {
	& input:not([type='checkbox']) {
		@apply h-6 w-full border-none bg-transparent text-center text-slate-700 focus:bg-blue-50 focus:outline-hidden;
	}
	& select {
		@apply h-6 w-full cursor-pointer border-none bg-transparent text-center focus:outline-hidden px-1;
		appearance: none;
		-webkit-appearance: none;
	}
}